* {
    box-sizing: border-box;
}

.carousel {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 50px auto;
}

.arrow {
    width: 35px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.itemsList {
    /*display: flex;*/
    flex: 100%
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: pink;
}

.card {
    border: 1px solid grey;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}